/* Style the form labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style the form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: flex;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea[name="extra-notes"] {
  width: 100%;
}

/* Style the form select */
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Style the form checkboxes and radios */
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
}

/* Style the form submit and reset buttons */
input[type="submit"],
input[type="reset"] {
  font-family:  "RaleWay", sans-serif;
  background-color: #f977ce;
  background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #d387ab;
  background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
}

/* Style the form container */
form {
  width: 850px;
  margin: auto;
  margin-bottom: 10px;
  padding: 50px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.3);
}

/* Display the contact preference checkboxes and newsletter radios on the same line */
label[for="email-preference"],
label[for="phone-preference"],
label[for="yes-newsletter"],
label[for="no-newsletter"] {
  display: inline-block;
  margin-right: 10px;
}

/* Display the name and email labels on the same line */
.name-email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.name-email-container :nth-child(2) {
  margin-right: 20px;
}

@media (max-width: 992px) {
  form {
    width: auto;
  }
  .name-email-container {
    display: grid;
    flex-direction: column;

  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  input[type="submit"],
  input[type="reset"] {
    margin-top: 8px;
    width: 100%;
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.2);
}

.product-images {
  display: flex;
  align-items: center;
  width: 70%;
  flex: 1 1 70%;
  margin-left: 5%;
}

.product-images img {
  width: 30%;
  height: fit-content;
  max-width: 330px;  
  margin: 0 10%;
  border-radius: 10px;
}

.small-images {
  flex: 1 1 60%;
  width: 8%;
  height: auto;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.big-image {
  display: flex;
  width: 100%;
  height: auto;
  margin: 10px;
  justify-content: flex-end;
  align-items: center;
}

.small-images img {
  width: 20%;
  margin: 2% 0;
}

.product-images img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

.product-details {
  padding: 0 20px;
  width: 50%;
}

.product-details h1 {
  font-family: "Tilt Neon", cursive;
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
  justify-self: center;
}

.book-info {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.book-info p {
  margin: 2% 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
}

.book-info h4 {
  margin: 0;
}

.addtocart{
  display:flex;
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
  color: white;
  padding: 10px 20px;
  align-items: center;
  border-radius: 20px;
  border: none;
}

.addtocart:hover{
  transform:scale(1.1);
  transition: all 0.1s ease-in-out;
}

.breadcrumbs {
  list-style: none;
  margin: 10px;
  padding-left: 10%;
}

.breadcrumbs li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 20px;
  color: #e6cfcf;
}

.breadcrumbs li a {
  display: block;
  padding: 0 40px 0 0px;
  text-decoration: none;
  height: 20px;
  position: relative;
  perspective: 700px;
}

.breadcrumbs li a:after {
  content: '';
  width: 20px;
  height: 20px;
  border-color: #e6cfcf;
  border-style: solid;
  border-width: 1px 1px 0 0;
  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  
  position: absolute;
  right: 20px;
  -webkit-transition: all .15s ease;
     -moz-transition: all .15s ease;
      -ms-transition: all .15s ease;
          transition: all .15s ease;
  -webkit-transform: rotateZ(45deg) skew(10deg, 10deg);
     -moz-transform: rotateZ(45deg) skew(10deg, 10deg);
      -ms-transform: rotateZ(45deg) skew(10deg, 10deg);
          transform: rotateZ(45deg) skew(10deg, 10deg);
}


.breadcrumbs li a:hover:after {
  right: 15px;
  -webkit-transform: rotateZ(45deg) skew(-10deg, -10deg);
     -moz-transform: rotateZ(45deg) skew(-10deg, -10deg);
      -ms-transform: rotateZ(45deg) skew(-10deg, -10deg);
          transform: rotateZ(45deg) skew(-10deg, -10deg);
}


@media only screen and (max-width: 992px) {
  
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-images {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .big-image {
    width: 100%;
    justify-content: center;
  }

  .small-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2%
  }

  .product-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;   
    margin: 5% 5%;
  }

  .addtocart {
    font-size: 14px;
  }

  .book-info {
    margin-bottom: 5%;
  }
}